version: '3.8'

services:
  app:
    build:
      context: .
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - API_KEY=${API_KEY:-your_api_key_here}
      - PORT=9090
      - DEFAULT_VOICE=${DEFAULT_VOICE:-af_sky}
      - REQUIRE_API_KEY=${REQUIRE_API_KEY:-True}
    volumes:
      - ./cache:/root/.cache
